@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    background-image: url(bodynet.png);
}

.fonte-do-texto-cabeçalho {
    font-family: "Bebas Neue", cursive;
    color: #ffc107 !important;
    font-size: 40px;
}

#btnVoltar {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#btnVoltar:visited {
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}

#hcad {
    color: #f2b544;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(20, 12, 12, 0.87);
    margin-top: 30px;
    width: 500px;
    border: 1px solid;
    border-radius: 20px;
}

.h1 {
    margin-left: 10px;
}

.btn {
    margin-right: 15px;
    color: black;
}

button {
    background-color: #ffc107 !important;
}

label {
    color: #f2b544;
}

input:hover {
    background-color: #ffc107;
}