@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

/*mudando fundo do cabecalho*/
.modal-fonte{
font-family: "Poppins", sans-serif;
  font-weight: 600; 
}

.cor-modal{
    background-color:#f2b544;
}

.formatar-ancora {
    text-decoration: none;
    color: #000;
  }

    