@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    background-image: url(../imagens/bodynet.png)
}

.h1 {
    margin-left: 10px;
}

.fonte-do-texto-cabeçalho {
    font-family: "Bebas Neue", cursive;
    color: #ffc107 !important;
    font-size: 40px;
}

#btnVoltar {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
}

#hcad {
    color: #f2b544;
}

.btn {
    margin-right: 15px;
    color: black;
}

button {
    background-color: #ffc107 !important;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    margin-top: 30px;
    width: 500px;
}

#emailr {
    width: 400px;
    height: 44px;
    border: solid 1px #b3b3b3;
}

#btn {
    width: 400px;
    height: 48px;
    background-color: #0080ff;
    border: none;
}

#p {
    cursor: pointer;
    ;
}

.pInvi {
    font-size: 14px;
    visibility: hidden;
}